/ME.RabbitMQ.Console/ME.Rabbit.Services.Implementation/obj
/ME.RabbitMQ.Console/ME.Rabbit.Services.Implementation/bin
/ME.RabbitMQ.Console/ME.RabbitMQ.Commands/obj
/ME.RabbitMQ.Console/ME.RabbitMQ.Commands/bin
/ME.RabbitMQ.Console/ME.RabbitMQ.Console/obj
/ME.RabbitMQ.Console/ME.RabbitMQ.Console/bin
/ME.RabbitMQ.Console/ME.RabbitMQ.Services/obj
/ME.RabbitMQ.Console/ME.RabbitMQ.Services/bin
/ME.RabbitMQ.Console/ME.RabbitMQ.Worker/obj
/ME.RabbitMQ.Console/ME.RabbitMQ.Worker/bin
/RabbitTests/RabbitTests/obj
/RabbitTests/RabbitTests/bin
/RabbitTests/RabbitTestsCommon/obj
/RabbitTests/RabbitTestsCommon/bin
/RabbitTests/RabbitTestsReceiver/obj
/RabbitTests/RabbitTestsReceiver/bin
/RabbitTests/RabbitTestsTask/obj
/RabbitTests/RabbitTestsTask/bin
/ME.RabbitMQ.Console/packages
/RabbitTests/packages
